<div data-role="view" data-title="View" data-layout="main" data-model="app.complaints" data-show="app.complaints.onShow" data-after-show="app.complaints.afterShow" id="complaintsScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.complaints.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

            <a data-role="button" data-align="right" data-bind="events: { click: complaintsModel.addClick }">Add</a></div>
    </header>


    <!-- START_CUSTOM_CODE_complaints -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_complaints -->
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <form class="km-filter-form custom-filter">
        <div class="km-filter-wrap">
            <input type="search" placeholder="Search..." data-bind="events:{keyup: complaintsModel.searchChange}">
        </div>
    </form>
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="complaintsModelTemplate" data-bind="source: complaintsModel.dataSource, events: {click: complaintsModel.itemClick}" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul>


    <!-- START_CUSTOM_CODE_complaintsModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_complaintsModel -->
    <script type="text/x-kendo-template" id="complaintsModelTemplate">
        <div class="image-with-text">
            # data = app.complaints.complaintsModel.fixHierarchicalData(data); #

            <h3>#: data['Complaint'] #</h3>

        </div>
    </script>
</div>